
tr.region-populated {
  display:none;
}

tr.region-title-expand, tr.region-title-add {
  border-top: 1px solid #ccc;
}

#edit-search-page-value {
  width: auto;
}

#edit-bibdk-custom-search-element-3,
#edit-bibdk-custom-search-element-1 {
  clear: both;
}

.bibdk-subgroup {
  margin-left: 1em;
}

.toggle-subgroup {
  border: 1px solid black;
  cursor: pointer;
  display: inline;
  margin: 0 0.25em;
  padding: 0;
}

fieldset#edit-expand {
  margin-top: 0.5em;
}

fieldset#edit-expand > legend {
  display: block;
  background-color: #ddd;
  border: 1px solid #ccc;
  width: 380px;
}

fieldset#edit-expand fieldset > legend {
  border-bottom: 1px solid #999;
}

div.fieldset-wrapper div.fieldset-description,
div.fieldset-wrapper p.helptext {
  display: inline;
}

div.fieldset-wrapper p.helptext {
  border: 1px solid #aaa;
  background-color: #cae;
  display: inline;
  margin: 0 0.5em;
  padding: 0 0.25em;
}

